*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.toast{
  position:fixed;
  bottom:10px;
  left: 10px;
  width:250px;
  border-radius: 4px;
  box-shadow: #310808 1px 1px 5px;
  background-color: rgba(177, 7, 15, 0.78);
  padding:10px;
  color: #f5bfbf;
  
  opacity:1;
  animation: toast 500ms cubic-bezier(.23,.82,.16,1.46);
  animation-iteration-count: 2;
}


@keyframes toast{
  0%{
    opacity:0;
    transform: translateY(200px);
  }

  100%{
    opacity:1;
    transform: translateY(0px);
  }
}